.head_principal {
    /* background-color: rgb(41 41 41); */
    margin-left: 5%;
    width: 100%;
    height: 70px;
}

.head_principal2 {
    /* background-color: rgb(41 41 41); */
    background-color: #cccccc;
    margin-left: 5%;
    width: 90%;
    height: 15%;
}

.head_principal3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b4b4b4;
    width: 100%;
    height: 20%;
}

.info_total_value {
    display: flex;
    justify-content: end;
    margin: auto
}

.total1{
    width: 50%;
    margin-left: 5%;
}

.total2{
    width: 50%;
    margin-right: 5%;
}

.h2_head {
    margin: 2% 0 0 0;
    color: black;
    float: left;
}

.h2_head_info {
    margin: 5% 0 0 0;
    color: black;
    float: left;
}

.h2_head_info2 {
    margin: 0 0 0 0;
    color: black;
    float: left;
}

.hr_head {
    width: 95%;
    height: 3px;
    margin: 0 auto 0 5%;
    background-color: #555555;
}

.hr_head2 {
    width: 95%;
    height: 3px;
    margin: 0 auto 0 5%;
    background-color: #000000;
}

.h2_info {
    margin: 4% 0 2% 5%;
    float: left;
}

.hr_info {
    width: 90%;
    height: 2px;
    margin: 0 auto 0 5%;
    background-color: #555555;
}

.principal_carrinho_compras{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 4% auto 0 auto;
    width: 90%;
    height: 80vh;
}

.carrinho_compras {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 70%;
    background-color: #f6f6f6;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.35);
}

.carrinho-item {
    width: 90%;
    margin: 0 0 1% 5%;
    border-bottom: solid 1px #555555;
}

.carrinho-item-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.picture_cart {
    width: 100%;
    height: 150px;
    /* background: rgb(182, 182, 182); */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555555;
    border-right: solid 1px #555555;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

.camera_cart {
    width: 30px;
    height: 30px;
}

.principal_itens {
    width: 95%;
    height: 100%;
    margin-right: 3%;
}

.itens_carrinho {
    margin-top: 2%;
    height: 75%;
    overflow-y: auto;
}

.separa_itens{
    border-top: solid 1px #555555;
}

.details_principal {
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.buttons_plus_minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 87, 0);
    border: none;
    font-size: 3vh;
}

.button_remove1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(180, 30, 30);
}

.button_remove2 {
    width: 25px;
    height: 25px;
    color: #f6f6f6;
}

.button_clear_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    margin-right: 1%;
    background-color: rgb(180, 30, 30);
    color: white;
    border: none;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: solid 1px rgb(41 41 41);
}

.button_checkout{
    margin-top: 5%;
    width: 100%;
    height: 60px;
    background-color: green;
    color: white;
    border: none;
}

.informacoes-principal{
    width: 25%;
    height: 35vh;
}

.informacoes {
    background-color: #cccccc;
    width: 100%;
    height: 60vh;
}

.informacoes-conteudo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.purchase_details{
    height: 40%;
    float: left;
    margin-left: 5%;
}


.table_align {
    width: 95%;
    height: auto;
    margin-left: 5%;
}

.thead {
    position: sticky;
    top: 0; /* Fixa o cabeçalho no topo */
    z-index: 1;
    background-color: #b4b4b4;
}

.thead_tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; 
}

.thead_th1 {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.thead_th2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.thead_th3 {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.thead_th4 {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


/*---------------------------------*/

.tbody_tr{
    display: flex;
    height: 180px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.tbody_td1 {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tbody_td2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.tbody_td3 {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.tbody_td4 {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.rodape{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: #b4b4b4;
}

@media (min-width: 320px) and (max-width: 480px) {
   
}

@media (min-width: 480px) and (max-width: 800px) {

}

@media (min-width: 800px) and (max-width: 1024px) {

}

@media (min-width: 1024px) and (max-width: 1152px) {

}

@media (min-width: 1152px) and (max-width: 1280px) {

}

@media (min-width: 1280px) and (max-width: 1368px) {
    .h2_head_info {
        margin: 5% 0 0 0;
        color: black;
        float: left;
        font-size: 4vh;
    }
    .h2_head_info2 {
        margin: 0 0 0 0;
        color: black;
        float: left;
        font-size: 4vh;
    }
    .principal_carrinho_compras{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 2.5% auto 0 auto;
        width: 90%;
        height: 70vh;
    }
}

@media (min-width: 1368px) and (max-width: 1400px) {

}

@media (min-width: 1400px) and (max-width: 1440px) {

}

@media (min-width: 1440px) and (max-width: 1600px) {

}

@media (min-width: 1600px) and (max-width: 1680px) {
    .principal_carrinho_compras{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 2% auto 0 auto;
        width: 90%;
        height: 75vh;
    }
}

@media (min-width: 1680px) and (max-width: 1920px) {

}
    
    